.selected {
  background-color: var(--color-selected-cell) !important;

  @include hover {
    background-color: var(--color-hover-selected-cell) !important;
  }

  @include active {
    background-color: var(--color-active-selected-cell) !important;
  }
}
