body {
  background-color: var(--color-bg);
}

.content {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  padding-inline: 15px;
  padding-block: 20px;
}

.board {
  max-width: fit-content;
  border: var(--border-board);

  @include mobile {
    border: 15px solid var(--color-alternate-dark);
  }
}

.valid-move::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  background-color: var(--color-valid-move);
  width: 25%;
  aspect-ratio: 1;
  border-radius: 50%;
}